
.hero {
    background-color: #b4d0e7;

}

.hero-container {
    max-width: 1180px;
    margin: auto;
}

/* titolo hero */
.hero .title {
    padding-top: 155px;
    font-size: 40px;
}

.title h1 {
    font-weight: 900;

}
/* titolo hero */

.hero .row {
    position: relative;
    bottom: -80px;
}
/* colonna scritta */
.hero .col-write {
    width: 30%;
    font-size: 18px;
}

.hero .btn {
    padding: 16px;
    margin: 35px 0px;
    font-size: 16px;
}

.hero i {
    padding-top: 45px;
    font-size: 40px;
}
/* colonna scritta */

/* colonna immagine */
.hero .col-img {
    width: 70%;
}

.hero img {
    width: 100%;
}
/* colonna immagine */

