/* --------
    IMPORTS
  -------- */
@import "common.css";
@import "header.css";
@import "hero.css";


/* --------
    RESET
  -------- */

*{
    box-sizing: border-boxd;
    margin: 0;
    padding: 0;
}
